.password-wrapper {
  padding: 20px;
}

.section {
  width: 70px;
  height: 10px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #9a9898;
}

span {
  font-size: 16x;
  font-style: italic;
}

.neutral {
  background-color: #9a9898;
}

.low {
  background-color: #ef4747;
}

.medium {
  background-color: #f6f629;
}

.strong {
  background-color: #259f25;
}
